# Message displayed on startup
message: Hello, world!

# You should probably make this 'true'
run: false

# Control port
control_port: 18333

# IRC control configuration
irc:
    server: irc.freenode.net
    port: 6667
    nick: compdman
    user: compdman
    gecos: Compd Controller
    channel: "#srobo-comp-ops"
    enable: false

